.highlight{
    background-color: lightgreen;
    border-radius: 10px;
    color: salmon;
    width: 40%;
    margin: 15px 0px;
}
.box {
    margin: 80px 50px;
    color: lightslategrey;
    background-color: bisque;
    border-radius: 10px;
    margin: 15px 0px;
}
