*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
#nav{
    background-color: cornflowerblue;
}
a, a:visited {
    color: wheat;
    text-decoration: none;
    font-weight: 800;
}
